ul {
  list-style: none;
  padding: 0;
}

input {
  -webkit-appearance: none;
  font-size: 3rem;
  font-weight: 200;
}

input:focus {
  outline: none;
}

.all {
  display: flex;
  flex-direction: row;

  gap: 7rem;
}

.container {
  display: flex;
  flex-flow: column;

  height: 80vh;
  border: 1px solid black;
}

.display {
  height: 10rem;
  width: auto;
  padding-bottom: 1rem;
}

.display input {
  border: none;

  padding: 0.5rem;
  height: 100px;
  width: 96, 9%;
}

.numbers {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item,
.delete,
.clear {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  border: 1px solid black;

  font-size: 2rem;

  margin: 0.2rem;

  transition-duration: 0.3s;
}

.grid-item:hover,
.delete:hover,
.clear:hover {
  background-color: royalblue;
  cursor: pointer;
}

.numbers li {
  padding-top: 1rem;
}

.history {
  display: flex;
  flex-flow: column;

  align-items: center;

  width: 100%;
  justify-content: flex-start;
}
